/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 12, 2023, 12:36:13 AM
    Author     : ysilva
*/
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

body {
font-family: 'Montserrat', sans-serif;
overflow-x: hidden;
background: #3f3f3f;
}

img{
    max-width: 100%;
}


/*------------------Menu---------------------------*/

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:40%;
}


/*=========================CONTACTOS BACKGROUND================================*/

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}



/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    max-width: 500px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}
