/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 12, 2023, 12:36:13 AM
    Author     : ysilva
*/
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

body {
font-family: 'Montserrat', sans-serif;
overflow-x: hidden;
background: #fbfafa;
}

.img-fluid{
    max-width: 100%;
}



/*=========================CONTACTOS BACKGROUND================================*/



 #seccion-contacto{
    background-color: #fbfafa;
    min-height:500px;
   
}



/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:relative;
    top:10%;
    left:20%;
    transform: translate(-50%, -40%);
    background: #fbfafa;
    border-radius:10px;
    max-width: 100px;

    
}

#titulo-formulario {
    color: #3f3f3f;
}


.btn-outline-secondary {
    background-color: #DDA0DD;
}

.border-top {
    background-color: #DDA0DD;
}



/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:100px;
    background-color: #fbfafa;
    display:flex;
    justify-content: center; 
    padding-bottom: 200px; 
    bottom:100px;
}

.mapa {
    background: url(../Imagenes/mapa.png);
    width:140%;
    height:500px;
    top: 90px;
    left: 40px;
    right: 30px;
    position:relative;
    bottom: 5px;
}


.wrapper-local {
    width:60%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION de UBICACION==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

