body{
    background-color: #f7ebdb;
}

h2,p{
    text-align: center;
}


/*Header*/
.button {
  display: flex;
}



.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
}

.box:before {
  content: "D";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'E';
}

.box:nth-child(3)::before {
  content: 'S';
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'C';
}

.box:nth-child(5)::before {
  content: 'U';
}
.box:nth-child(6)::before {
  content: 'E';
}
.box:nth-child(7)::before {
  content: 'N';
}
.box:nth-child(8)::before {
  content: 'T';
}
.box:nth-child(9)::before {
  content: 'O';
}
.box:nth-child(10)::before {
  content: 'S';
}


.button:hover .box:before {
  transform: translateY(0);
}

/* redes*/

.share {
  display: flex;
  flex-direction: row;
  gap: 1em;
  transition: .4s ease-in-out;
  margin-top: 60px;
}

.btn1 {
  position: relative;
  width: 3em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: .4s all;
}

.btn1 .instagram {
  margin-top: 0.1em;
  fill: #cc39a4;
}

.btn1 .tooltiptext1 {
  visibility: hidden;
  width: 6em;
  height: 8em;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  left: -1.5em;
  top: -8em;
  z-index: 1;
  transition: .1s ease-in-out;
}

.btn1 .tooltiptext1 .card {
  width: 4em;
  height: 4em;
  background-color: white;
}

.btn1 .tooltiptext1 .account {
  margin-top: 1em;
}

.btn1 .tooltiptext1 .username {
  font-size: 0.7em;
  margin-top: 1.6em;
  font-weight: bold;
}

.btn1:hover .tooltiptext1 {
  transform: translateY(-1em);
  visibility: visible;
}

.btn1:hover {
  background-color: #cc39a4;
}

.btn1:hover .instagram {
  fill: white;
}

.btn2 {
  position: relative;
  width: 3em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: .4s all;
}

.btn2 .twitter {
  margin-top: .25em;
  margin-left: .1em;
  fill: #03A9F4;
}

.btn2 .tooltiptext2 {
  visibility: hidden;
  width: 6em;
  height: 8em;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  left: -1.5em;
  top: -8em;
  z-index: 1;
  transition: .1s ease-in-out;
}

.btn2 .tooltiptext2 .card {
  width: 4em;
  height: 4em;
  background-color: white;
}

.btn2 .tooltiptext2 .account {
  margin-top: 1em;
}

.btn2 .tooltiptext2 .username {
  font-size: 0.6em;
  margin-top: 1.6em;
  font-weight: bold;
}

.btn2:hover .tooltiptext2 {
  transform: translateY(-1em);
  visibility: visible;
}

.btn2:hover {
  background-color: #03A9F4;
}

.btn2:hover .twitter {
  fill: white;
}

.btn3 {
  position: relative;
  width: 3em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: .4s all;
}

.btn3 .tooltiptext3 {
  visibility: hidden;
  width: 6em;
  height: 8em;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  left: -1.5em;
  top: -8em;
  z-index: 1;
  transition: .1s ease-in-out;
}

.btn3 .tooltiptext3 .card {
  width: 4em;
  height: 4em;
  background-color: white;
}

.btn3 .tooltiptext3 .account {
  margin-top: 1em;
}

.btn3 .tooltiptext3 .username {
  font-size: 0.7em;
  margin-top: 1.6em;
  font-weight: bold;
}

.btn3:hover .tooltiptext3 {
  transform: translateY(-1em);
  visibility: visible;
}

.btn3:hover {
  background-color: black;
}

.btn3:hover .git {
  fill: white;
}









/* me gusta*/
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

svg:hover {
  transform: scale(1.1) rotate(-10deg);
}

.container input:checked ~ svg {
  fill: #2196F3;
}





/* Favoritos/Me encanta*/
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #E3474F;
}
/* Compra*/

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}

/* Compra*/
.Gustos{
    align-items: center;
    position: relative;
    left:  45px
    
}


/* SUb*/

.form-box {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: #0066ff;
  transition: color .3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color: #005ce6;
}

.subscribirse{
    position: relative;
    left: 1380px;
}




/*Loader*/


.loader {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}

 

.loaderposicion{
    position: relative;
    left: 1400px;
}

.txtC,h2{
    color: #ffffff;
    text-decoration: none;
}