/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 23, 2023, 10:20:40 AM
    Author     : Jose Daniel
*/
body {
  background-image: url(../Imagenes/background.png);
  
  
}
.favorites-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.favorites-section h2 {
  font-size: 18px;
  margin-top: 0;
}

.favorites-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.favorites-list li {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.favorites-list li:nth-child(3n) {
  margin-right: 0;
}

.favorites-list a {
  display: block;
  text-align: center;
}

.favorites-list img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.favorites-list p {
  margin: 0;
  font-size: 14px;
}
