<!DOCTYPE html>
<!doctype html>
<html xmlns:th ="https//www.thymeleaf.org">
    
  <head th:fragment="head"> <!-- rl fragment funciona para crear un gragment de codigo, como una variable que se puede utilizar en otro lado---------> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
  </head>
  <body>
      
     <!-- Nav Bar ---------------------------------------> 
       
     
     
     <header th:fragment="header">
          
         <header class="BarraPrincipal">

        <nav class="navbar navbar-expand-lg navbar-light py-4">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav_lc" aria-controls="nav_lc" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav_lc">
                    <ul class="navbar-nav my-3 my-lg-0 ms-lg-3 me-auto">
                        <li class="nav-item me-4"><a class="nav-link" href="home.html"><h2>Underground Shop</h2></a></li>
                        <li class="nav-item me-4"><a class="nav-link" href="Descuentos.html"><h2>Descuentos</h2></a></li>
                        <li class="nav-item me-4"><a class="nav-link" href="ProductosCategorizados.html"><h2>Productos Categorizados</h2></a></li>
                         <li class="nav-item me-4"><a class="nav-link" href="/producto"><h2>Moda y noticias</h2></a></li>
                        <li class="nav-item"><a class="nav-link" href="box.html"><h2>Contactanos</h2></a></li>
                    </ul>
                    <div><a class="btn btn-outline-secondary me-2" href="Inscribirse.html">Inscribirse</a><a class="btn btn-outline-secondary me-2" href="login.html">Registrarse</a><a class="btn btn-primary" href="LoginAdmin.html">Registrarse Admin</a></div>

                    
                    
                </div>
            </div>
        </nav>

       
    
  </body>
</html>